body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    color: #007ACC;
}

button:hover {
    background-color: #4CAF50 !important;
    color: white !important;
}

.footer {
    text-align: center;
    margin-top: 50px;
    color: #888;
    font-size: 14px;
}
